<div class="container mt-5">
    <button type="button" class="btn btn-secondary" routerLink="/">Back</button>
    <div class="mt-5">
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
      </div>
      <div class="text-center mb-2" *ngIf="loading">
          <app-loader></app-loader>
      </div>
        <table class="table" *ngIf="!loading">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Order Date</th>
                <th scope="col">Order Detail</th>
                <th scope="col">Order Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{order.customer.customerName}}</td>
                <td>{{order.orderDetail}}</td>
                <td>{{order.orderDate | date}}</td>
                <td>{{order.orderAmount}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>