/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  border: none;
}
a:hover {
  text-decoration: none !important;
}
.error-text {
  color: red;
}
