
<div class="container mt-5">
    <button type="button" class="btn btn-secondary" routerLink="/">Back</button>
    <div class="customer_form" [formGroup]="customerForm" (submit)="onSubmit()">
        <div class="alert alert-success" role="alert" *ngIf="success">
            {{success}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error">
            {{error}}
        </div>
        <form [formGroup]="customerForm">
            <div class="form-group">
              <label for="name">Customer name</label>
              <input type="text" class="form-control" formControlName="name" id="name" aria-describedby="name" placeholder="Enter customer name">
              <small class="error-text" *ngIf="customerForm.get('name').touched && customerForm.get('name').hasError('required')">Customer name is required</small>
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="number" formControlName="age" class="form-control" id="age" placeholder="Age">
              <small class="error-text" *ngIf="customerForm.get('age').touched && customerForm.get('age').hasError('required')">Enter valid age</small>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" formControlName="address"  id="address" rows="3"></textarea>
                <small class="error-text" *ngIf="customerForm.get('address').touched && customerForm.get('address').hasError('required')">Address is required</small>
            </div>
            <div class="d-flex justify-content-between">
                <app-loader *ngIf="loading"></app-loader>
                <button type="button" *ngIf="!loading" class="btn btn-default" routerLink="/">Cancel</button>
                <button type="submit" class="btn btn-primary" [disabled]="!customerForm.valid || loading">Submit</button>
            </div>
        </form>
    </div>
</div>